body{
	width: 800px;
	margin: 0 auto;
	background-image: url("DIY/diyy.png");
	background-repeat: no-repeat;
	background-position: center top;
}
img.medium{
	width: 800px;
	height: 220px;
}
img.pic{
	width: 25%;
	vertical-align:middle;
}
img.logo{
	width: 30%;
	float: right;
}
#content {
	overflow: auto;
	height: 100%;
}
#nav{
	width: 750px; 
	padding: 15px;
	margin: 0px auto 0px auto;
	border-top: 2px solid #0000FF;
	border-bottom: 1px solid #0000FF;
	text-align: center;
	font-family: 'Yatra One', cursive;
	font-size: 16px;
	background-color: #FDE0E0;
}
#feature{
	background-color: #FFFFFF;
	padding: 5px;
	margin: 5px;
	font-family: 'Playfair Display', serif;
	font-size: 15px;
}
#footer{
	background-color: #FFFFFF;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
}
.colum1, .colum2, .colum3 {
	background-color: #FFFFFF;
	width: 300px;
	float: left;
	margin: 10px;
	font-family: 'Playfair Display', serif;
	font-size: 15px;
}
li{
	display: inline;
	padding: 5px;
}